.dashboard {
    position: relative;
    left: 117px;
    padding: 2rem 3rem;
    margin-right: 117px;
}

.loading {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    font-size: 48px;
}

.error {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    color: red;
    font-size: 48px;
}

.contentDashboard {
    display: flex;
    flex-direction: column;
}

.smallGraph {
    width: 835px;
    display: flex;
    justify-content: space-between;
}

.callLineGraph {
    margin: 0;
}