.tag {
    display: flex;
    align-items: center;
    width: 258px;
    background: #fbfbfb;
    border-radius: 5px;
    margin-left: 2rem;
}

.tagValue {
    font-weight: 700;
    font-size: 20px;
}

.tag p {
    line-height: 24px;
    font-size: 14px;
    margin-right: 1rem;
    margin-left: 0;
}

.tag img {
    width: 60px;
    margin: 1.8rem;
}

@media screen and (max-width:1300px) {
    .tag {
        width: 190px;
        margin-left: 0rem;
    }
}